@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Red Hat Display", sans-serif;
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.price, .price-info, .card, .content  {
    display: flex;
    /* justify-content: center; */

}

.card {
    max-width: 50%;
    background-color: aqua;
    flex-direction: column;
}

.content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

